<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <error statusCode="400" path="E:\w3server\microscience.com.au\error_docs\bad_request.html" />
      <error statusCode="407" path="E:\w3server\microscience.com.au\error_docs\proxy_authentication_required.html" />
      <error statusCode="414" path="E:\w3server\microscience.com.au\error_docs\request-uri_too_long.html" />
      <error statusCode="415" path="E:\w3server\microscience.com.au\error_docs\unsupported_media_type.html" />
      <error statusCode="503" path="E:\w3server\microscience.com.au\error_docs\maintenance.html" />
      <error statusCode="401" prefixLanguageFilePath="" path="E:\w3server\microscience.com.au\error_docs\unauthorized.html" />
      <error statusCode="403" prefixLanguageFilePath="" path="E:\w3server\microscience.com.au\error_docs\forbidden.html" />
      <error statusCode="404" prefixLanguageFilePath="" path="E:\w3server\microscience.com.au\error_docs\not_found.html" />
      <error statusCode="405" prefixLanguageFilePath="" path="E:\w3server\microscience.com.au\error_docs\method_not_allowed.html" />
      <error statusCode="406" prefixLanguageFilePath="" path="E:\w3server\microscience.com.au\error_docs\not_acceptable.html" />
      <error statusCode="412" prefixLanguageFilePath="" path="E:\w3server\microscience.com.au\error_docs\precondition_failed.html" />
      <error statusCode="500" prefixLanguageFilePath="" path="E:\w3server\microscience.com.au\error_docs\internal_server_error.html" />
      <error statusCode="501" prefixLanguageFilePath="" path="E:\w3server\microscience.com.au\error_docs\not_implemented.html" />
      <error statusCode="502" prefixLanguageFilePath="" path="E:\w3server\microscience.com.au\error_docs\bad_gateway.html" />
    </httpErrors>
    <directoryBrowse enabled="false" />
    <rewrite>
      <rules><rule name="Plesk. Wordpress redirect wpConfigRule #a2f03e9a-8781-4980-8d08-f2c1f2a32689" stopProcessing="true"><match url="^wp-config.php$" ignoreCase="false" /><action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" /></rule>
			<rule name="WordPress: http://www.microscience.norrin.edev.co.nz" patternSyntax="Wildcard">
				<match url="*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
				<action type="Rewrite" url="index.php" />
			</rule></rules>
    </rewrite>
  </system.webServer>
</configuration>
